# Compiler files
cache/
out/
/artifacts/
artifacts/

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

/tempLib

# Docs
docs/

.vscode/

node_modules/

temp.*
temp/
.github/

lib/

abi_source/

abi_source.zip

# Dotenv file

.env